.productView {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.backButton:hover {
  background-color: #0056b3;
}

.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.productImage {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  margin-right: 20px;
}

.productInfo {
  flex: 1;
}
